html {
    background-color: rgb(180, 75, 26);
}

body {
    width: 75%;
   margin: 0 auto; 

   display: flex;
   min-height: 100vh;
   flex-direction: column;
   background-color: white;
}

#cute_burger {
    display: block;
   margin: auto;
}

h1 {
    text-align: center;
    font-family: 'Chilanka';
    font-size: 65px;
    margin: 50px;
}

.burgerAvailable {
    font-family: 'Chilanka';
    font-weight: normal;
    font-size: 20px;
    text-align: center;

    border-radius: 25px;
    width: 100%;
    margin: 10px;
    padding: 10px;
    background-color: #dce2dd;
    border: none;
}

.burgerAvailable:hover {
    background-color: #dce2dd;
}

.burgerEaten {
    font-family: 'Chilanka';
    font-weight: normal;
    font-size: 20px;
    text-align: center;

    border-radius: 25px;
    margin: 10px;
    padding: 10px;
    background-color: #f54425;
}

h2 {
     text-align: center;
    font-family: 'Chilanka';
    font-size: 40px;
    margin: 50px;
}

.formContainer {
    background-color: rgb(245, 241, 234);
}

.addBurgerButton {
    font-family: 'Chilanka';
    font-weight: normal;
    font-size: 20px;
    text-align: center;

    border-radius: 25px;
    width: 100%;
    margin: 0;
    padding: 10px;
    background-color: rgb(255, 148, 76);
    border: none;
}

.addBurgerButton:active {
   background-color: rgb(255, 148, 76);
}

.burgerFooter {
   background-color: rgb(255, 148, 76);
   padding: 20px 0;
}